*{
margin:0;
padding:0;
box-sizing:border-box;
text-decoration:none;
}

body{
  font-size:100%;
 background-color: black;
}

.cabecalho{
display:flex;
position: fixed;
width: 100%;
height: 120px;
align-items:center;
justify-content:space-around;
padding:0;
size: 10;
background-color:black;
z-index: 2;
margin-top: -120px;
}

.cabecalho-image{
  margin-bottom: 10px;
  margin-top: 10px;
}

.cabecalho-menu{
display:flex;
gap:32px;
}

.cabecalho-menu-item{
font-family:'Sarala', sans-serif;
color:#696969;
font-weight:400;
font-size:18px;
}

.conteudo{
margin-bottom:48px;
border-top:0.4px solid #fff2e7;
}

.conteudo-secundario{
display:flex;
flex-direction:column;
align-items:center;
gap:24px;
margin-top:100px;
}

.conteudo-secundario-titulo{
border-top:0.4px solid #fff2e7;
padding-top:48px;
}

.conteudo-secundario-titulo{
border-top:0.4px solid #fff2e7;
padding-top:48px;
font-family:'Righteous',cursive;
font-weight:400;
font-size:30px;
color:white;
margin-bottom:16px;

}

.conteudo-secundario-paragrafo{
font-family:'Sarala', sans-serif;
font-weight:300;
font-size: 17px;
color:white;
}

.rodape{
padding:45px;
width: 100%;
border-top:0.4px solid #fff2e7;
background: black;
justify-content: center;
color:white;
z-index: 2;
}

.rodape-imagem {
  height: 48px;
  display: block;
  margin: 0 auto;
}

.cabecalho-menu a:link{
	list-style: none;
}

.cabecalho-menu a{
	color: #D3D3D3;
}

.cabecalho-menu a:hover{
	color: #FFFF00;
}

.Título{
font-family:Righteous, cursive;
font-size:30px;
color:white;
}

.botao{
  border-radius: 10px;
  background-color: #f0cc02;
}

.botao:hover{
  background-color: rgba(105, 105, 105);
}

.nome{
  border-radius: 10px;
}

.email{
  border-radius: 10px;
}

.ye{
	color: white;
}

.form{
	margin-left: 10px;
}

.porra{
	margin-left: 50px;
}
input{
	margin: 20px;
}

section{
	display: flex;
	flex-wrap: wrap;
	text-align: justify;
}
#colall{
	justify-content: space-around;
}
#col1{
	width: 400px;
	height: 500px;
}

#col2{
	width: 400px;
	height: 500px;
}

#col3{
	width: 400px;
	height: 500px;
}

#buttonNeon{
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;
box-sizing:border-box;
font-family:Monotype corsive;
width: 400px;
height: 500px;
padding:10px;
margin:0px;
}

.neonButton{
position:relative;
background:#444;
color:#fff;
text-decoration:none;
text-transform:uppercase;
padding:10px 30px;
transition:0.5s;
}

.neonButton:hover
{
letter-spacing:0.25em;
background:var(--clr);
color:var(--clr);
box-shadow: 0 0 35px var(--clr);
}

.neonButton::before{
content:'';
position:absolute;
inset:2px;
background:#27282c;
}

.neonButton span{
position:relative;
z-index:1;
}

.neonButton i{
position:absolute;
inset:0;
display:block:
}

.neonButton i::before
{
content:'';
position:absolute;
top:-3.5px;
left:80%;
width:10px;
height:5px;
border:2px solid var(--clr);
background:#27282c;
transform:translateX(-50%);
transition:0.5s;
}

.neonButton:hover i::before
{
width:20px;
left:20%;
}

.neonButton i::after
{
content:'';
position:absolute;
bottom:-3.5px;
left:20%;
width:10px;
height:5px;
border:2px solid var(--clr);
background:#27282c;
transform:translateX(-50%);
transition:0.5s;
}

.neonButton:hover i::after
{
width:20px;
left:80%;
}

.Título{
font-family:Righteous, cursive;
font-size:30px;
color:white;
align-items: justify;
}

.botao{
	height: 30px;
	width: 80px;
	border-radius: 15px;
}


.nome{
	border-radius: 10px;
	text-align: center;
}

.email{
	border-radius: 10px;
	text-align: center;
}



